<html>
<head>
<title>pglogcheck results</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<style>
.expando {
	font-size:small;
	font-style:italic;
	color:gray;
}
.LOG {
}
.WARNING {
	color:red;
}
.ERROR {
	color:red;
}
.FATAL {
	color:red;
}
.PANIC {
	color:red;
}
</style>

<script src="sorttable.js"></script>

<script type="text/javascript" language="JavaScript">
function objectOver(x) {
	x.style.color="blue";
}
function objectOut(x) {
	x.style.color="black";
}
function expand (x){
	var id=document.getElementById("text_"+x) ;
	id.style.display="block";
	var id=document.getElementById("coll_"+x) ;
	id.style.display="block";
	var id=document.getElementById("exp_"+x) ;
	id.style.display="none";
}
function collapse (x){
	var id=document.getElementById("text_"+x) ;
	id.style.display="none";
	var id=document.getElementById("coll_"+x) ;
	id.style.display="none";
	var id=document.getElementById("exp_"+x) ;
	id.style.display="block";
}
</script>

<script type="text/javascript">
// http://snippets.dzone.com/posts/show/3737
function toggleclass (c)
{
	if (!document.styleSheets) return;
	var thecss = new Array();
	if (document.styleSheets[0].cssRules) { // Standards Compliant
		thecss = document.styleSheets[0].cssRules;
	} else {
		thecss = document.styleSheets[0].rules; // IE
	}
	for (i=0; i<thecss.length; i++) {
		if (thecss[i].selectorText == "."+c) {
			if (thecss[i].style.cssText.match (/display: *none;/)) {
				thecss[i].style.cssText = thecss[i].style.cssText.replace (/display: *none;/, '');
				var id=document.getElementById(c+"_title") ;
				id.style.textDecoration="none";
			} else {
				thecss[i].style.cssText += 'display:none;';
				var id=document.getElementById(c+"_title") ;
				id.style.textDecoration="line-through";
			}
		}
	}
}
</script>

</head>
<body>

<h1>pglogcheck results</h1>

<p>
<table class="sortable" border="1">
<thead><tr><th>Type</th><th>#</th><th>total</th></tr></thead>
<tfoot><tr><td></td><td>[%msgs%]</td><td>[%total%]</td></tr></tfoot>
[% FOREACH t = type %]
<tr>
	<td><span onclick='javascript:toggleclass("[%t.type%]")' id="[%t.type%]_title">[%t.type%]</span></td>
	<td>[%t.count%]</td>
	<td>[%t.total%]</td>
</tr>
[% END %]
</table>
[%lines%] lines parsed, [%total%] run time, [%connections%] authorized connections, [%checkpoints%] checkpoints.
</p>

<table class="sortable" style="vertical-align:top;">
<tr><th>#</th><th>total</th><th>avg</th><th>query</th></tr>

[% FOREACH r = rows %]
<tr class="[%r.type%]">
	<td valign="top">[%r.count%]</td>
	<td valign="top" sorttable_customkey="[%r.total_raw%]">[%r.total%]</td>
	<td valign="top" sorttable_customkey="[%r.avg_raw%]">[%r.avg%]</td>
	<td>
		[%r.localtype%]: <b>[%r.query%]</b>
		[% IF r.example_rows %]
		<br />
		<span id="exp_[%r.id%]" class="expando" onclick='javascript:expand([%r.id%])'>⊞ [%r.example_row_count%]</span>
		<span id="text_[%r.id%]" class="expando" onclick='javascript:collapse([%r.id%])' style="display:none;">⊟ [%r.example_row_count%]</span>
		[% END %]
		[% IF r.example_rows %]
		<table id="coll_[%r.id%]" style="display:none;" class="sortable" style="vertical-align:top;">
			<tr><th>#</th><th>query</th></tr>
			[% FOREACH ex = r.example_rows %]
			<tr>
				<td valign="top">[%ex.count%]</td>
				<td>[%ex.example%]
					[% IF ex.example_msgs %]
					<br />
					<span id="exp_[%ex.id%]" class="expando" onclick='javascript:expand([%ex.id%])'>⊞ [%ex.msg_row_count%]</span>
					<span id="coll_[%ex.id%]" style="display:none;" class="expando" onclick='javascript:collapse([%ex.id%])'>⊟ [%ex.msg_row_count%]</span>
					<ul id="text_[%ex.id%]" style="display:none;">
						[% FOREACH msg = ex.example_msgs %]
						<li><i>[%msg.file%]:[%msg.lineno%]:</i> [%msg.msg%]</li>
						[% END %]
					</span>
					[% END %]
				</td>
			</tr>
			[% END %]
		</table>
		[% END %]
	</td>
</tr>
[% END %]
</table>

</body>
</html>
